

/*-----Start CSS Reset style------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
menu li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----End CSS Reset style------*/

body {
   text-align: center;
   font-size: 20px;
}

body,
html {
   width: 100%;
   height: 100%;
}

body{
   padding-top: 40px;
}
.main{
   display: flex;
   align-items: center;
   justify-content: center;
}

.location{
   margin: 20px;
   box-shadow: 0 0 5px teal;
}

.location h2{
   font-size: 24px;
   margin: 10px;
}

.btn{
   width: 100px;
   height: 30px;
   display: flex;
   padding: 4px; 
   box-shadow: 0 0 5px rgb(37, 228, 37);
   border-radius: 5px;
   align-items: center;
   justify-content: center;
   transition-duration: 0.3s
}
.btn:hover{
   scale: 1.05;
   box-shadow: 0 0 10px blue;
}
.btn:active{
   transform: translateY(-3px);
   box-shadow: 0 0 10px rgb(37, 228, 37);
}