

/*-----Start CSS Reset style------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
menu li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----End CSS Reset style------*/

body {
   text-align: center;
   font-size: 20px;
}

body,
html {
   width: 100%;
   height: 100%;
}

body{
   padding-top: 40px;
}

.box{
   width: 100%;
   height: 20px;
   /* background: teal; */
   display: flex;
   justify-content: center;
   align-items: center;
   /* box-shadow: 4px 4px 20px rgba(0,0,0,0.3); */
}

.container{
   height: 15px;
   width: 105px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.circle{
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: teal;
   box-shadow: 0 0 10px teal;
   animation: move 400ms linear 0ms infinite;
   margin-right: 30px;
}
.circle:first-child{
   position: absolute;
   top:0;
   left:0;
   animation: grow 400ms linear 0ms infinite;
}
.circle:last-child{
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 0;
   animation: grow 400ms linear 0s infinite reverse;
}

@keyframes grow {
   from {transform: scale(0,0); opacity: 0;}
   to {transform: scale(1,1); opacity: 1;}
}
@keyframes move {
   from {transform: translateX(0px)}
   to {transform: translateX(45px)}
}